.name_wrapper {
    display: flex;
    justify-content: space-between;
    width: 189px;
}

.first_letters {
    display: inline-block;
    width: 56px;
    height: 56px;
    background-color: blueviolet;
    color: white;
    border-radius: 15px;
    text-align: center;
}

.full_name {
    color: white;
    text-align: center;
}