.trends_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trends_item {
    width: 266px;
    height: 433px;
    background-color: rgb(238, 195, 195);
    margin: 0 40px 40px 0;

}

.trends_img {
    width: 266px;
    height: 357px;
    margin-bottom: 24px;
    border-radius: 20px;
    position: relative;
}

.trands_rate {
    position: absolute;
    width: 30px;
    height: 25px;
    background-color: #00A340;
    color: white;
    left: 20px;
    top: 20px;
    border-radius: 6px;
}

.movie_title {
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-bottom: 4px;
}

.movie_genre {
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin: 0;
}