.auth {
	margin: 0 auto;
	width: 600px;
	margin-top: 50px;
	padding: 30px;
	border: 1px solid rgb(160, 159, 159);
	border-radius: 5px;
}

.auth__label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.auth__input {
	display: block;
	width: 100%;
	height: 40px;
	border: none;
	margin: 10px 5px 30px 0px;
}

.auth__input::placeholder {
	padding: 10px;
}

.auth__button {
	display: block;
	border: none;
	background: rgb(48, 48, 219);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 15px 100px;
	width: 100%;
}

.auth__button:hover {
	cursor: pointer;
}

.reg__link {
	display: flex;
	align-items: center;
	margin: 10px auto 20px;
	gap: 15px;
	width: 500px;
}

.reg__button {
	background: rgb(48, 48, 219);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 15px 100px;
}