.title {
    color: white;
    width: 368px;
    height: 100%;
    font-size: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pix {
    color: blueviolet;
}
