*{
    text-decoration: none;
    margin: 0;
}

.li{
    margin-bottom: 40px;
    cursor: pointer;
}
.a{
    list-style: none;
    color: #80858B;
}

.sidebar{
    grid-area: sidebar;
    height: 100%;
    /* min-height: 700px; */
    background-color: black;
    position: fixed;
    width: 300px;
    top: 100px
}

.svg{
    margin-right: 15px;
    margin-bottom: -3px;
}

.filter{
    width: 300px;
    background-color: rgb(122, 122, 122);
    height: 500px;
    color: white;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px;
    border-color: white;
    border-style: solid;
}

.filter_none{
  display: none;
}
