.search_container {
    width: 40%;
    height: 100%;
}

.search_input {
    width: 100%;
    height: 56px;
    background-color: dimgray;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    color: white;
}

.search_input::placeholder {
    color: white;
}