.sign_in_page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(./Frame1439.jpg);
    background-size: cover;
}

.auth {
    width: 30%;
    min-width: 300px;
    height: 50%;
    background: #242426;
    margin: 10% auto;
    padding: 1%;
}

.auth_wrapper {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    color: white;
}

.sign_in {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 10px;
}

.input {
    border-radius: 10px;
    height: 10%;
    width: 100%;
    margin: 0 auto;
    background-color: #323537;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.button_auth {
    display: block;
    margin: 50px auto;
    height: 15%;
    width: 103%;
    border-radius: 10px;
    background-color: #7B61FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.password {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 6%;

}
.have_account {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}