:root {
  --var-bgcolor: #fff;
  --var-fontcolor: #646464;
  --var-primaryColor: #ffae00;
  --var-buttonColor: #fff2d6;

  --var-lightBack: #eee;
  --var-darkBack: #646464;

  --var-lightFont : #646464;
  --var-darkFont: #eee;

  --var-lightButton: #fff2d6;
  --var-darkButton: #c5c5c5;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--var-lightBack);
}

a {
  text-decoration:none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin: 0 auto;
  max-width: 100%;
}

.body {
  width: 100%;
  background-color: var(--var-lightBack);
}

.body__title {
  font-size: 24px;
  font-weight: 300;
}

.tabs-items {
  display: flex;
  padding-top: 20px;
  border-bottom: 3px solid #bebebe;
}

.tabs__item {
  margin: 0 20px 10px;
  padding: 10px 40px;
  color: #646464;
  box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.tabs__item:hover {
  background-color: #d4f3ff;
  color: #000;
  transition: 0.3s;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 30%;
  background-color: var(--var-buttonColor);
  transition: 0.2s;
}


.link {
  /* padding: 0; */
  width: 40%;
}