<<<<<<< HEAD
:root {
  --var-bgcolor: #fff;
  --var-fontcolor: #646464;
  --var-primaryColor: #ffae00;
  --var-buttonColor: #fff2d6;

  --var-lightBack: #eee;
  --var-darkBack: #646464;

  --var-lightFont : #646464;
  --var-darkFont: #eee;

  --var-lightButton: #fff2d6;
  --var-darkButton: #c5c5c5;

}

=======
>>>>>>> 9861a03 (HW 37 Yury (#37))
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: var(--var-bgcolor);
=======
>>>>>>> 9861a03 (HW 37 Yury (#37))
=======
  background-color: #f8feff;
>>>>>>> 6fe29b1 (HW 40 Yury (#60))
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin: 0 auto;
<<<<<<< HEAD
<<<<<<< HEAD
  max-width: 100%;
=======
  max-width: 1000px;
  /* background-color: #e9e9e9; */
=======
  max-width: 1400px;
>>>>>>> 3e0d9f5 (HW 38 Yury (#48))
}

.header {
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: #d4f3ff;
}

.header__title {
  padding: 0 20px;
  font-size: 24px;
  font-weight: 200;
  color: #646464;
  cursor: pointer;
  transition: 0.2s;
}

.header__title:hover {
  color: #000;
  transition: 0.2s;
}

.header__button {
  background-color: #a0ffc7;
  border: none;
  width: 150px;
  height: 40px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.header__button:active {
  background-color: #47f3ff;
  transition: 0.3s;
}

.burger__line {
  width: 30px;
  height: 3px;
>>>>>>> 9861a03 (HW 37 Yury (#37))
}

.body {
  padding: 20px;
<<<<<<< HEAD
  width: 100%;
  height: 100vh;
=======
>>>>>>> 9861a03 (HW 37 Yury (#37))
}

.body__title {
  font-size: 24px;
  font-weight: 300;
}

.tabs-items {
  display: flex;
  padding-top: 20px;
  border-bottom: 3px solid #bebebe;
}

.tabs__item {
  margin: 0 20px 10px;
  padding: 10px 40px;
  color: #646464;
  box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.tabs__item:hover {
  background-color: #d4f3ff;
  color: #000;
  transition: 0.3s;
}
<<<<<<< HEAD

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 50%;
  background-color: var(--var-buttonColor);
  transition: 0.2s;
}

.button__spanText {
  background-color: var(--var-buttonColor);
  font-size: 0.8rem;
  font-weight: 700;
}
=======
>>>>>>> 9861a03 (HW 37 Yury (#37))
