:root {
  --var-bgcolor: #fff;
  --var-fontcolor: #646464;
  --var-primaryColor: #ffae00;
  --var-buttonColor: #fff2d6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --var-bgcolor: #303030;
    --var-fontcolor: #fff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--var-bgcolor);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--var-bgcolor);
  color: var(--var-fontcolor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin: 0 auto;
  max-width: 100%;
}

.header {
  border-bottom: 1px solid var(--var-fontcolor);
}

.header-wrapper {
  margin: 0 auto;
  padding: 5px 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

.header__title {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  justify-content: center;
  padding: 0 20px;
  font-size: 1.7rem;
  font-weight: 200;
  cursor: default;
}

.header__lambdaTitle {
  color: var(--var-primaryColor);
}

.header__posttitle {
  color: var(--var-primaryColor);
  font-size: 1rem;
}

.header__title:hover {
  color: #000;
  transition: 0.2s;
}

.header__button {
  background-color: #a0ffc7;
  border: none;
  width: 150px;
  height: 40px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;

}

.header__button:active {
  background-color: #47f3ff;
  transition: 0.3s;
}

.burger__line {
  width: 30px;
  height: 3px;
}

.body {
  padding: 20px;
}

.body__title {
  font-size: 24px;
  font-weight: 300;
}

.tabs-items {
  display: flex;
  padding-top: 20px;
  border-bottom: 3px solid #bebebe;
}

.tabs__item {
  margin: 0 20px 10px;
  padding: 10px 40px;
  color: #646464;
  box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.tabs__item:hover {
  background-color: #d4f3ff;
  color: #000;
  transition: 0.3s;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 50%;
  background-color: var(--var-buttonColor);
}

.button__spanText {
  background-color: var(--var-buttonColor);
  font-size: 0.8rem;
  font-weight: 700;
}