.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-item {
    position: relative;
    margin: 20px;
    padding: 40px 10px;
    max-width: 380px;
    box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 10px 3px 20px -1px rgba(0, 0, 0, 0.45);
}

.card__title {
    padding: 0 10px 20px;

}

.card__image {
    object-fit: cover;
    max-width: 100%;
}

.card__text {
    padding: 20px;
}

.card__description {
    text-indent: 20px;
    text-align: justify;
}

.card__date {
    position: absolute;
    bottom: 0;
    padding: 10px;
    opacity: 0.6;
}
