.mainPage_container {
    height: 100vh;
    width: 100vw;
}

.wrapper {
    display: grid;
    grid-template-areas:
        'head head'
        'sidebar cont';
    grid-template-rows: 134px 1fr;
    grid-template-columns: 368px 1fr;
}