.auth_wrapper {
    width: 400px;
    height: 250px;
    border: 1px solid blue;
    padding-top: 30px;
}
.auth_input {
    display: block;
    margin: 10px auto;
    width: 320px;
}

.auth_button {
    display: block;
    width: 320px;
    margin: 10px auto;
}