.pagination {
	display: flex;
	margin: 0 auto;
	width: 200px;
	justify-content: space-between;
}

button:hover {
	cursor: pointer;
}

.pagination__btn {
	border: none;
	font-size: 20px;
	background: none;
}