.container{
    width: 100vw;
    height: 100vh;
  }
  
  .wrapper{
    display: grid;
    grid-template-areas: 'header header' 'sidebar conten';
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
  }