.back-btn {
	display: block;
	border: none;
	background: rgb(48, 48, 219);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 15px 50px;
}

.back-btn:hover {
	cursor: pointer;
}

.card {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0px;
	padding: 0px 15px;
	border-bottom: 1px solid gray;
}

.card__text {
	width: 100%;
}

.card__date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: rgb(165, 163, 163);
	margin-bottom: 30px;
	width: 100%;
}

.card__title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	margin-bottom: 30px;
	width: 100%;
}

.card__desc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: rgb(165, 163, 163);
	margin-bottom: 10px;
}

.card__img-wrapper {
	width: 100%;
	overflow: hidden;
	height: 500px;
	margin-bottom: 20px;
}

.card__img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}