.search {
    position: relative;
    display:inline-block;
    width: 70%;
    height: 40px;
    background-color: rgb(177, 175, 175);
    font-weight: 400;
    font-size: large;
    color: rgb(252, 250, 250);
    border: 1px solid white;
    border-radius: 0.2rem;
    margin: 30px 32px;
}

.search_wrapper{
    display: flex;
    flex-direction: row;
    min-width: 700px;
}

.button{
    width: 10%;
    min-width: 100px;
    height: 42px;
    margin: auto 10px;
    cursor: pointer;
}
