.changeThemeButton{
    position: relative;
    top: -10px;
    height: 30px;
    background-color: rgb(3, 3, 85);
    border: 1px white;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    margin: 20px;
    color: white;
    box-sizing: border-box;
}

.changeThemeButton_dark{
    position: relative;
    top: -10px;
    height: 30px;
    background-color: blue;
    border: 1px white;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    margin: 20px;
    color: white;
    box-sizing: border-box;
}