.registr_wrapper {
    width: 400px;
    height: 250px;
    border: 1px solid blue;
    padding-top: 30px;
}

.registr_input {
    display: block;
    width: 320px;
    margin: 10px auto;
}

.registr_button {
    display: block;
    width: 320px;
    margin: 15px auto;
}

