.wrapper {
    width: 700px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.text {
    width: 350px;
    margin-bottom: 5px;
}
.image {
    width: 350px;
    /* height: 300px; */
}


.image {
    width: 350px;
    /* height: 300px; */
}

