.auth_wrapper {
    width: 400px;
    height: 250px;
    border: 1px solid blue;
    padding-top: 30px;
}
.auth_input {
    width: 270px;
    margin: 10px;
}
.auth_login {
    margin: 15px 23px;
}
.auth_password {
    margin: 10px;
}
.auth_button {
    width: 320px;
    margin: 15px 40px 0 ;
}