.title{
    background-color: rgb(233, 227, 227);
    width: 200px;
    height: 80px;
    font-size: 48px;
    padding: 10px;
    margin: 0 20px;
}

.title_dark{
    background-color: rgb(48, 46, 46);
    width: 200px;
    height: 80px;
    font-size: 48px;
    padding: 10px;
    margin: 0 20px;
    color: white;
}