.burger {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: blue;
    border: none;
    cursor: pointer;
}

.line{
    height: 30px;
    position: relative;
}

.line_first {
    top: 0;
    width: 100%;
    height: 3px;
    display: block;
    background-color: white;
    position: absolute;
}

.line_second {
    top: 30%;
    width: 100%;
    height: 3px;
    display: block;
    background-color: white;
    position: absolute;
}

.line_third {
    top: 60%;
    width: 100%;
    height: 3px;
    display: block;
    background-color: white;
    position: absolute;
}

.line_forth {
    bottom: 0;
    width: 100%;
    height: 3px;
    display: block;
    background-color: white;
    position: absolute;
}

.button_close{
    width: 40px;
    height: 30px;
    position: relative;
    margin: 0 auto;
}

.close_line_first { 
    display: block; 
    height: 4px; 
    width: 40px; 
    background-color: white; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%) rotate(45deg); 
   } 
.close_line_second { 
    display: block; 
    height: 4px; 
    width: 40px; 
    background-color: white; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%) rotate(-45deg); 
   }