.tabs_wrapper {
    height: 40px;
    border-bottom: 1px solid blue;
    margin-bottom: 15px;
}
.tab_list {
    color: blue;
    margin: 30px;
    cursor: pointer;
}

.active {
    color: rgb(232, 7, 7);
    margin: 30px;
    cursor: pointer;

}