.tabs--wrapper {
   display: flex;
   border-bottom: 1px solid #F0F0F0;
   width: 50%;
   font-weight: 700;
   margin: 10px;
}

.tab {
   padding: 5px 25px;
}

.active {
   border-bottom: 3px solid #9D9DA0;
}

.disabled {
   opacity: 0.3;
}

.tab:hover {
   cursor: pointer;
   color: #606DBD;
}