.user {
   display: flex;
   width: 210px;
   /* height: 100px; */
   background-color: #2436A7;
   color: #fff;
   margin: 10px 0;
   /* margin: 0 -10px; */
}

.user__initials-block {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   background-color: #5463CA;
   margin: 10px 25px 10px 10px;
}

.user__username-block {
   display: flex;
   justify-content: center;
   align-items: center;
}



