* {
    color: #ffffff;
    list-style-type: none;
}

.movie {
    cursor: pointer;
    margin: 10px;
    min-width: 100px;
    width: 250px;
    height: auto;
    display: flex;
    color: #ffffff;
    text-align: center;
}

.movielist_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100%;
    min-height: 100vh;
}

.onemovie {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    cursor: pointer;
}

.onemovieclick {
    width: 500px;
    height: 100vh;
    color: #0a0a0a;
    margin: 0 auto;
}

.show_more {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color:#7B61FF;
    font-size: 24px;
    cursor: pointer;
}
.show_more_none{
    display: none;
}

.div_showmore {
    background-color: black;
}

.h2 {
    font-size: 1.3em;
    margin: 10px;
    text-align: center;
}

.poster {
    width: 400px;
}

.posterclick {
    width: 100%;
    z-index: 1000;
}
.Poster{
    width: 250px;
}
.Poster_NA{
    width: 300px;
    height: 400px;
    background-image: './s.jpg';
}
.rating {
    width: 40px;
    height: 30px;
    background-color: green;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    border-radius: 6px;
    position: relative;
    left: 20px;
    top: -670px;
}

p {
    margin: 0;
}

.results{
    font-size: 24px;
}
.results_none{
    display: none;
}