.auth {
   padding: 70px 250px;
}

.auth__input {
   display: block;
   margin: 20px auto;
   width: 30%;
   /* height: ; */
   border: 0;
   border-radius: 3px;
   font-size: 20px;
   padding: 5px;
}

.auth__submit-btn {
   display: block;
   margin: 0 auto;
   background-color: #2436A7;
   color: #fff;
   width: 30%;
   border: 0;
   border-radius: 3px;
   font-size: 20px;
   padding: 5px;
}

.auth__submit-btn:hover {
   cursor: pointer;
   background-color: #3e4ca1;
}