.header-search {
    display: flex;
    justify-content: space-around;
}

.header-search__input {
    padding: 5px;
    width: 90%;
    border: 1px solid var(--var-primaryColor);
   
    font-size: 1.5rem;
    text-align: center;
}

.header-search__button {
    width: 60px;
    height: 40px;
    border: none;
    background: url(../images/header__search.png) no-repeat 10px;
    cursor: pointer;
}
